# Eclipse specific files #
*bin/
*target/

# intelliJ specific files #
.DS_Store
.idea/
*.iml
*.eml

# output files #
*testRun/logs/*
*testRun/reports/*
*testRun/surefire
*test-output
*TestRun_Logs
*TestRun_Reports
*TestRun_Results
*PacketStore
*PreRegPacketStore

# properties file #
#*/config.properties#    modified here
*reg
*/db
#*local*#  modified here
#*services_jar/*#    modified here
#*.jar#    modified here
*.log
/.tmp

#modified  below #
.project
.settings/
ivv-core/.classpath
ivv-core/.project
ivv-core/.settings/
ivv-dg/.classpath
ivv-dg/.project
ivv-dg/.settings/
ivv-ida/.classpath
ivv-ida/.project
ivv-ida/.settings/
ivv-kernel/.classpath
ivv-kernel/.project
ivv-kernel/.settings/
ivv-mutators/.classpath
ivv-mutators/.project
ivv-mutators/.settings/
ivv-orchestrator/.classpath
ivv-orchestrator/.project
ivv-orchestrator/.settings/
ivv-orchestrator/testRun/reports/mosip_reports.html
ivv-parser/.classpath
ivv-parser/.project
ivv-parser/.settings/
ivv-preregistration/.classpath
ivv-preregistration/.project
ivv-preregistration/.settings/
ivv-registration/.classpath
ivv-registration/.project
ivv-registration/.settings/
ivv-regprocessor/.classpath
ivv-regprocessor/.project
ivv-regprocessor/.settings/
ivv-registration/services_jar/
